*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

.center{
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{
    clear: both;
}


body{
    background-color: rgb(245,245,245);
}

header{
    background-color: white;
    border-bottom: 1px solid #ccc   ;
}

header > .center{
    display: flex;
}

.logo-header{
    width: 30%;
}

.logo-header img{
    width: 100%;
    height: 50px;
    max-width: 150px;
}

.search{
    text-align: center;
    width: 40%;
    padding-top: 15px;
}

.search-box{
    display: inline-block;
    position: relative;
}

.search-box input{
    background: rgb(245,245,245);
    padding: 5px 10px;
    text-align: center;
    width: 200px;
    border: 1px solid rgb(200,200,200);
}

.search-box i{
    position: absolute;
    left: 40px;
    top: 5px;
    opacity: 0.3;
}

.notifications-icons{
    width: 30%;
    text-align: right;
    padding-top: 15px;
}

.notifications-icons a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-right: 15px;
    display: inline-block;
}

.notifications-icons .img-mini{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 5px;
}


.img-perfil-wraper{
    float: left;
    width: 50%;
    padding: 0 50px;
}

.img-perfil{
    background-size: 100% 100%;
    width: 55%;
    padding-top: 55%;
    border-radius: 50%;
    border: 3px solid #ccc;
    background-repeat: no-repeat;
}

.texto-perfil{
    float: left;
    width: 50%;
}

.nome-perfil span{
    font-size: 23px;
    font-weight: 300;
}

.nome-perfil a.btn{
    text-decoration: none;
    margin: 0 8px;
    color: black;
    border: 1px solid #dbdbdb;
    padding: 4px 10px;
}

.nome-perfil a.icon{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.info-perfil p {
    display: inline-block;
    margin-right: 8px;
}

.descricao-perfil h3{
    font-size: 18px;
}

.descricao-perfil p{
    font-weight: 300;
    font-size: 16px;
    margin-top: 6px;
}

section.feed{
    padding: 60px 0;
    text-align: center;
}

.line-marcacao{
    display: none;
    position: absolute;
    width: 104px;
    height: 3px;
    background: black;
    top: -10px;
}

.line-feed{
    border-top: 1px solid #ccc;
}

.single-line-name{
    text-transform: uppercase;
    margin: 10px 10px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.publicacao-single{
    float: left;
    width: 33.3%;
    padding-top: 33.3%;
    border: 4px solid white;
    background-image: url('./images/19423_en_1.jpg');
    background-size: 100% 100%;
}

#igtv,
#salvos,
#marcados{
    display: none;
}

@media screen and (max-width:580px){
    .search-box{
        display: none;
    }

        .notifications-icons{
            padding-top: 8px;
        }
}